# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Checkpoints and Heavy Weights
checkpoints/
**/*.ckpt
**/*.pth

# Data
data/

# Hydra outputs
outputs/
multirun/

# Logs and Telemetry
logs/
wandb/
.env

# Virtual Environments
.venv/
venv/
ENV/

data/
outputs/
logs/

# Weights & Biases
wandb/

# IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db