# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/

# Data and Outputs
data/
outputs/
logs/

# Weights & Biases
wandb/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
